:root{
    --main-margin:4rem;
}
body{
    background-color: #f5f5f5;
            color: #4e4e4e;
            font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; ;
}
   * {
        font-family: -apple-system, BlinkMacSystemFont, 
         "Segoe UI", "Roboto", "Oxygen", 
         "Ubuntu", "Cantarell", "Fira Sans", 
         "Droid Sans", "Helvetica Neue", sans-serif;
         padding: 0;
         margin: 0;
         box-sizing: border-box;
         list-style: none;
}


#navbar .navbar-brand{
    font-weight: 600;
    font-size: 28px;
}
#navbar .nav-item{
padding: 10px;
font-weight: 500;

}
#navbar .nav-item  a{
    color: #fff;
    font-size: 15px;
    position: relative;
}
 #navbar .dropdown-item {
    color: #000;
 }
#navbar .nav-item a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: all 1s;
   
}
#navbar  .navbar-nav-scroll{
    background: rgba(0, 0, 0, 0.9);
    padding: 5px 0;

}
#navbar .nav-item a:hover::after{
width: 90%;
}
/* end navbar */
/* start home */
#home{
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(imge/hero-bg.jpg);
background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
#home .contant{
    display: flex;
    align-items: center;
    color: #fff;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    
}
#home .contant .text{
    margin-bottom: 80px;
}
/* end section home */
/* start about */

#about {
    padding-top: 50px;
}
#about .container{
    background-color: #FFFFFF;
    padding: 50px 50px 80px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
#about .about-left .txt-img .about-img{
    margin-bottom: 40px;
}

#about .about-left .txt-img .txt-info span{
    color: black;
    font-size: 17px;
    font-weight: 500;
}
#about .about-left .skill{
    margin-bottom: 15px;
}
#about .about-left .skill .progress{
    height: 11px;
    --bs-progress-border-radius: none;
}

#about .about-right h2{
    padding-bottom: 15px;
    position: relative;
}
#about .about-right h2:after{
    content: '';
    width: 100px;
    height: 3px;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: var(--main-color);
}
#about .about-right p{
    font-size: 20px;
    padding: 10px 0px;
    font-weight: 100;
}


/*  
end about
 */

 /* start  section services*/
 #SERVICES{
    margin:var(--main-margin);
 }
.tex{
text-align: center;
 }
 .tex h2{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
 }
.line{
width: 40px; 
 height: 5px; 
 background-color: #0078ff;
 margin: 0 auto;
}
#SERVICES .service-box{
    background-color: #fff;
    padding: 3rem 1.3rem;
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: center;

}
#SERVICES .service-box .ico-circle{
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content:center
}
#SERVICES .service-box .ico-circle i{
    font-size: 40px;
}
#SERVICES .service-box:hover .ico-circle{
background-color: #0078ff;
box-shadow: 0 0 0 10px #CDE1F8;
color:#fff;
}
#SERVICES .service-box .service-content h2{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
}
/* 
 End Services Section  */
 /* start counter */
#counter{
    background-image:url(imge/post-3.jpg);
    height: 65vh;
    background-repeat: no-repeat;
      background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        margin-bottom: 3rem;
}
#counter .backe{
    position: absolute;
    top: 10;
    left: 0px;
    padding: 0;
    height:65%;
    width: 100%;
    opacity: 0.7;
    background-color: #0078ff;
}
#counter .counter-box{
    text-align: center;
    color: #fff;
   padding: 6rem 3rem;
}

#counter .counter-box .ico-circle{
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
   box-shadow: 0 0 0 10px #cde1f8;
    display: inline-flex;
    align-items: center;
    justify-content:center
}
#counter .counter-box .counter-cont p{
font-size: 20px;
margin: 3px;
}
/* enddd counter
 */
 /* starttt portfolio */
 #PORTFOLIO .line{
margin-bottom: 3rem;
 }
 #PORTFOLIO img{
    width: 100%;
    transition: all 1s;
 }
 #PORTFOLIO .img-work img:hover{
    transform: scale(1.2);
 }
 #PORTFOLIO .work-box{
   margin-bottom: 4rem;
   background-color: #fff;
   box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
   overflow: hidden;
 }
 #PORTFOLIO .work-content .title {
    font-size: 1rem;
    padding: 20px 10px 3px;
 }
 #PORTFOLIO .work-content{
    padding-bottom: 1rem;
 }
 #PORTFOLIO .work-content .tex{
    color: #4e4e4e;
    font-size:0.8rem;
     padding-right: 1rem;
 }
 #PORTFOLIO .work-content .blue-tex{
    color: #0078ff;
 }
 #PORTFOLIO .work-content .icon{
    font-size: 2.5rem;
    color: #0078ff;
    padding-top: 2rem;
    margin-left: 3rem;
}
 /* end section portfolo */
 /* start slider */
 #slider {
    width: 100%;
    height:85vh;
    background-image: url(imge/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    top:0;
    left: 0;
 }
 #slider .background{
    background-color: #0078ff;
    position: absolute;
    top: 0px; ;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}
#slider .carousel-inner .carousel-item img {
    width: 20%;
    border-radius: 50% !important ;
    margin: 0 auto;
    padding: 2rem;
    color:#fff;
}
#slider .box {
text-align: center ;
margin: 8rem; 

}
#slider .carousel-inner .tex {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    font-size: 1.4rem;
   
    
}
.carousel-indicators [data-bs-target]{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    
}
/* end section slider */
/* start section blog*/
#blog{
    margin: 5rem;
}
#blog .blog-btn .category{
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    margin-bottom: 0;  
    
    
} 
.blog-body {
  padding: 10px;
    position: relative;
}
 #blog .card-blog {
  background-color: #ffffff;
  box-shadow:0 13px 8px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.175);
}
 #blog .box .blog-btn{
    color: #fff;
    padding: 0 15px 5px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
    
}


#blog .blog-body .box{
    position: absolute;
    text-align: center;
    top: -20px;
    left:7rem;
    line-height: 25px;
    overflow: hidden;
    width: 30%;
  
}
 
 #blog .card-title{
    font-size: 1.3rem;
  
    padding: 10px 0;
 }
 #blog .card-title a{
    color:#000;
    text-decoration: none;
    transition: all 1s;
 }
 #blog .card-title a:hover{
    color:#0078ff;
 }
 #blog .card-footer{
 border-top: 1px solid  rgba(0, 0, 0, 0.175);
    background-color: #F8F8F8;
 }
 #blog .card-footer img{
width: 10%;
border-radius: 50%;
 }
 #blog .card-footer a {
    text-decoration: none;
 }
 #blog .card-footer .tex{
    padding-left:8px;
    color: #000;
 }
 #blog .card-footer .blog-date{
  float: right;
  padding: 2px;
 }
 .clr{
    clear: both;
 }
 /* end section blog */
 /* start section contact */
 #contact{
    background-image: url(imge/overlay-bg.jpg);
    background-size: cover;
    background-position:center center ;
   padding-top: 6rem;
   position: relative;

 }

#contact .box-contact{
 background-color: #ffffff;
 /* margin: 20px 0  0 1rem ; */
padding: 3rem;
 
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
 z-index: 2;
 position: relative;

}
#contact .container{
    padding: 3rem;
}
 #contact .background{
position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: #0078ff;
    
}
#contact h5{
    font-size: 30px;
}
#contact h5::before{
 content: "";
position: absolute;
height: 3px;
background-color: #0078ff;
width: 100px;
top: 5.5rem
}
#contact form button{
    background: #0078ff;
    border: none;
    padding: 10px 24px;
    color: #fff;
    transition: 1s all;
    border-radius: 20px;
}
#contact form button:hover{
   box-shadow: 0 0 0 3px  rgb(205, 225, 248);
}
#contact .list-ico{
    padding-left: 0px;
 
}

#contact .list-ico li{
    padding: 7px;
    font-size: 15px;
}
#contact .list-ico span{
    color:#0078ff;
}
#contact .social li{
    display: inline-block;
}
#contact .social li .circle{
    width: 50px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    border-radius: 50%;
   margin: 0 15px 0 0;

    box-shadow: 0 0 0 3px #0078ff;
    transition: 1s all ;
}
#contact .social:hover li .circle{
    background-color: #0078ff;
    box-shadow: 0 0 0 3px rgb(205, 225, 248);  
    color:#fff;
    
}
/* end section contact */
/* start section footer */
#footer {
    background-color: #0062D3 ;
 
}
#footer .contant {
    color:#fff;
    text-align: center;
    font-size: 15px;
     padding-top: 2rem ; 
   
 
}
#footer .contant p{
 margin-bottom: 0px;
}
/* end section footer */